{% extends "base_templates/base.html" %}
{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Add Caravan Listing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="POST" enctype="multipart/form-data" class="mb-5">
                    <div class="mb-3">
                        <label for="make" class="form-label">Make:</label>
                        <select class="form-select" id="make" name="make" aria-label="Choose Caravan Make" required>
                            <option disabled selected>Choose Make:</option>
                            {% for make in makes %}
                                <option value="{{ make.caravan_make }}">{{ make.caravan_make|capitalize }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="mb-3">
                        <label for="model" class="form-label">Model:</label>
                        <select class="form-select" id="model" name="model" aria-label="Choose Caravan Model" required>
                            <option disabled selected>Choose Model:</option>
                            {% for model in models %}
                                <option value="{{ model.caravan_model }}">{{ model.caravan_model|capitalize }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price (£):</label>
                        <input type="number" class="form-control" id="price" name="price" minlength="1" maxlength="8" required>
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year:</label>
                        <input type="number" class="form-control" id="year" name="year" minlength="4" maxlength="4" required>
                    </div>
                    <div class="mb-3">
                        <label for="beds" class="form-label">Bedrooms:</label>
                        <input type="number" class="form-control" id="beds" name="beds" minlength="1" maxlength="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="sleeps" class="form-label">Sleeps:</label>
                        <input type="number" class="form-control" id="sleeps" name="sleeps" minlength="1" maxlength="2" required>
                    </div>
                    <div class="mb-3">
                        <label for="length" class="form-label">Length (ft):</label>
                        <input type="number" class="form-control" id="length" name="length" minlength="2" maxlength="2" required>
                    </div>
                    <div class="mb-3">
                        <label for="width" class="form-label">Width (ft):</label>
                        <input type="number" class="form-control" id="width" name="width" minlength="2" maxlength="2" required>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <select class="form-select" id="make" name="make" aria-label="Choose Location" required>
                            <option disabled selected>Where is the caravan located:</option>
                            {% for location in locations %}
                                <option value="{{ location.location }}">{{ location.location|capitalize }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    {% for feature in features %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="features" name="features" value="{{ feature.feature_name }}">
                            <label class="form-check-label" for="features">{{ feature.feature_name}}</label>
                        </div>
                    {% endfor %}
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" aria-label="description" id="description" name="description" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image:</label>
                        <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
                    </div>
                    <button type="button" class="btn btn-primary rounded-0" onclick="history.back()">Cancel</button>
                    <button type="submit" class="btn btn-primaryrounded-0">Submit</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div> 
</section>

{% endblock %}
