{% extends "base_templates/base.html" %}
{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Edit Caravan Listing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="POST" enctype="multipart/form-data" class="mb-5">
                    <div class="mb-3">
                        <label for="make" class="form-label">Make:</label>
                        <select class="form-select" id="make" name="make" aria-label="Choose Caravan Make" required>
                            <option disabled selected>Choose Make:</option>
                            {% for make in makes %}
                                {% if make.caravan_make == listing.make %}
                                    <option value="{{ make.caravan_make }}" selected>{{ make.caravan_make|capitalize }}</option>
                                {% else %}
                                    <option value="{{ make.caravan_make }}">{{ make.caravan_make|capitalize }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="model" class="form-label">Model:</label>
                        <select class="form-select" id="model" name="model" aria-label="Choose Caravan Model" required>
                            <option disabled selected>Choose Model:</option>
                            {% for model in models %}
                                {% if model.caravan_model == listing.model %}
                                    <option value="{{ model.caravan_model }}" selected>{{ model.caravan_model|capitalize }}</option>
                                {% else %}
                                    <option value="{{ model.caravan_model }}">{{ model.caravan_model|capitalize }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="year" class="form-label">Year:</label>
                        <input type="number" class="form-control" value="{{ listing.year }}" id="year" name="year" minlength="4" maxlength="4" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price (£):</label>
                        <input type="number" class="form-control" value="{{ listing.price }}" id="price" name="price" minlength="1" maxlength="8" required>
                    </div>
                    <div class="mb-3">
                        <label for="beds" class="form-label">Bedrooms:</label>
                        <input type="number" class="form-control" value="{{ listing.beds }}" id="beds" name="beds" minlength="1" maxlength="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="sleeps" class="form-label">Sleeps:</label>
                        <input type="number" class="form-control" value="{{ listing.sleeps }}" id="sleeps" name="sleeps" minlength="1" maxlength="2" required>
                    </div>
                    <div class="mb-3">
                        <label for="length" class="form-label">Length (ft):</label>
                        <input type="number" class="form-control" value="{{ listing.length }}" id="length" name="length" minlength="2" maxlength="2" required>
                    </div>
                    <div class="mb-3">
                        <label for="width" class="form-label">Width (ft):</label>
                        <input type="number" class="form-control" value="{{ listing.width }}" id="width" name="width" minlength="2" maxlength="2" required>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <select class="form-select" id="location" name="location" aria-label="Choose Location" required>
                            <option disabled selected>Where is the caravan located:</option>
                            {% for location in locations %}
                                {% if location.location == listing.location %}
                                    <option value="{{ location.location }}" selected>{{ location.location|capitalize }}</option>
                                {% else %}
                                    <option value="{{ location.location }}">{{ location.location|capitalize }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" aria-label="description" id="description" name="description" required>
                            {{- listing.description -}}
                        </textarea>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                Image:
                                <img src="{{ listing.image }}" class="img-thumbnail"
                                    alt="static caravan">      
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="url" name="original-image" id="original-image" value="{{ listing.image }}"
                                        pattern="https://.*" size="30"
                                        disabled required>
                                        <a class="btn btn-primary rounded-0" data-bs-toggle="collapse" href="#replaceButtonCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            Replace?
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="replaceButtonCollapse">
                            <label for="image" class="form-label">Upload Image:</label>
                            <input type="file" class="form-control" id="image" value="{{ listing.image }}" name="image" accept="image/*"> 
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary rounded-0" onclick="history.back()">Cancel</button>
                    <button type="submit" class="btn btn-primary rounded-0">Submit</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>

{% endblock %}
