@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/*--------------------------------------------------------- General */

html, body { 
    overflow-x: hidden; 
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

strong {
    font-weight: 700;
    font-size: 1.5rem;
}

.title-1 {
    font-weight: 700;
    font-size: 3rem;
}

/*--------------------------------------------------------- Colors */
.bg-color-1 {
    background-color: #2bfc82;
}

.bg-color-2 {
    background-color: #000;
}

.bg-color-3 {
    background-color: #fff;
}

.bg-color-4 {
    background-color: #f5f5f5;
}

.txt-color-1 {
    color: #2bfc82;
}

.txt-color-2 {
    color: #fff;
}

.border-color-1 {
    border-color: #2bfc82;
}

/*--------------------------------------------------------- Navbar */
.navbar-brand {
    font-weight: 700;
    font-size: 2em;
}

.navbar-nav {
    font-weight: 500;
    font-size: 1.2em;
}

.nav-link:hover {
    text-decoration: solid underline #2bfc82;
    text-underline-offset: 1em;
}

.underline {
    text-decoration: solid underline #2bfc82;
    text-underline-offset: 0.5em;
}

.btn-primary {
    background-color: #2bfc82;
    color: #000;
    font-weight: 700;
    border: none;
}

.flashes {
    color:#2bfc82;
    font-weight: 700;
}

.image-card {
    max-height: 200px;
}

.paragraph-card {
    font-weight: 300;
    font-size: 0.8em;
}

.negative-margin {
    margin-top: -3rem !important;
  }

.no-text-decoration {
    text-decoration: none;
}

.sidebar {
    height: 100vh;
    top: 90px;
    z-index: -2;
    background-color: #2bfc82;
}

.sidebar-item {
    list-style-type: none;
}

.sidebar-item, .sidebar-icon {
    font-size: 1.2em;
}

.sidebar-anchor {
    text-decoration: none;
    color: #000;
}

.hide {
    display: none;
}

.title-2 {
    font-size: 1rem;
}