{% extends "base_templates/dashboard_sidebar.html" %}
{% block dashboard_section %}
    <div class="col-12 col-lg-9 ps-sm-2 ps-lg-5 pe-sm-2 pe-lg-5 mt-5">
        <div class="row mb-4">
            <div class="col-12 col-lg-6">
                <h4 class="">Your Listings</h4>
            </div>
            <!-- add listing link -->
            <div class="col-12 col-lg-6 text-end">
                <a class="btn btn-primary rounded-0" href="{{ url_for('add_listing') }}" role="button">
                    Add Caravan Listing
                </a>
            </div>
        </div>
        <!-- create table -->
        <table class="table">
            <!-- table headers -->
            <thead>
                <tr>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Size</th>
                    <th scope="col">Year</th>
                    <th scope="col">Price</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                <!-- loops through each listing -->
                {% for listing in listings %}
                    <!-- filters to display only listings created by the current user -->
                    {% if session.user|lower == listing.created_by|lower %}
                        <tr>
                            <!-- displays relevant details -->
                            <td>{{ listing.make|capitalize }}</td>
                            <td>{{ listing.model|capitalize }}</td>
                            <td>{{ listing.length }} x {{ listing.width }}</td>
                            <td>{{ listing.year }}</td>
                            <td>{{ listing.price }}</td>
                            <td>
                                <!-- dropdown button -->
                                <div class="dropdown">
                                    <button class="btn btn-secondary bg-color-1 txt-color-2 border border-0 rounded-0"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </button>
                                    <ul class="dropdown-menu rounded-0">
                                        <li>
                                            <!-- edit listing -->
                                            <a class="dropdown-item"
                                                href="{{ url_for('edit_listing', listing_id=listing._id) }}">Edit</a>
                                        </li>
                                        <li>
                                            <!-- Button opening modal to check if want to complete destructive action -->
                                            <a href="#modal-{{ listing._id }}" class="dropdown-item"
                                                data-bs-toggle="modal">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Destructive Action Modal -->
                                <div class="modal fade" id="modal-{{ listing._id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <h2 class="modal-title pt-3 ms-5 pb-4">DELETE LISTING</h2>
                                            <p class="ms-5">Are you sure you want to delete the listing permanently?</p>
                                            <p class="text-danger ms-5">NOTICE: You cannot undo this action.</p>
                                            <div class="modal-footer">
                                                <!-- completes delete action -->
                                                <a href="{{ url_for('delete_listing', listing_id=listing._id) }}" role="button"
                                                    class="btn btn-danger rounded-0">Delete</a>
                                                    <!-- takes user back to listings -->
                                                <a href="{{ url_for('dashboard', username=username) }}" role="button"
                                                    class="btn btn-outline-primary rounded-0" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}