{% extends "base_templates/dashboard_sidebar.html" %}
{% block dashboard_section %}
    <div class="col-12 col-lg-9 ps-5 pe-5 mt-5">
        <div class="row mb-4">
            <div class="col-12">
                <h4 class="">User's</h4>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Superuser?</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><i class="fa-solid fa-user align-self-center p-2"></i>
                            {{ user.username|capitalize }}
                        </td>
                        <td>
                            {% if user.is_superuser == "on" %}
                            Super User
                            {% endif %}
                        </td>
                        <td>
                            <form method="POST"
                                action="{{ url_for('get_users', username=session['user'], user_id=session['user']) }}">
                                <div class="dropdown">
                                    <button class="btn btn-secondary bg-color-1 txt-color-2 border border-0"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="{{ url_for('edit_user', user_id=user._id) }}">Edit</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="{{ url_for('delete_user', user_id=user._id) }}">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}