{% extends "base.html" %}
{% block content %}

<section id="buy-section">
    <div class="row d-flex pb-5 pt-5 bg-color-4 vh-100">
        <div class="col-12 d-flex flex-column ms-5">
            <h1 class="text-capitalize pt-5 buy-hero">Sell your <span class="underline">static caravan</span> your way</h1>
            <p class="pb-5 mt-3">At Caravansy, we look for new, innovative ways to sell your caravan. Let's us do the work for you, matching buyers with sellers in unique, convienient ways.</p>
            <a class="btn btn-primary rounded-0 mt-3 align-self-start" href="#" role="button">List Caravan</a>
        </div>
    </div>
    <div class="row d-flex mb-5 negative-margin">
        <div class="col-12">
            <img src="{{ url_for('static', filename='images/caravan-park-one.webp') }}" class="img-fluid w-75 mx-auto d-block" alt="couple in a caravan">
        </div>
    </div>
</section>
<section id="seperator">
    <div class="row bg-color-2 txt-color-2 pt-5 pb-5">
        <div class="col-4">
            <h2>Transparent</h2>
        </div>
        <div class="col-4">
            <h2>Empowering</h2>
        </div>
        <div class="col-4">
            <h2>Digital</h2>
        </div>
    </div>
</section>

{% endblock %}