{% extends "base.html" %}
{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Edit Caravan Listing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="POST" enctype="multipart/form-data" class="mb-5">
                    <div class="mb-3">
                        <label for="make" class="form-label">Make:</label>
                        <input type="text" class="form-control" value="{{ listing.make }}" id="make" name="make" aria-describedby="caravanmake" required>
                    </div>
                    <div class="mb-3">
                        <label for="model" class="form-label">Model:</label>
                        <input type="text" class="form-control" value="{{ listing.model }}" id="model" name="model" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price (£):</label>
                        <input type="number" class="form-control" value="{{ listing.price }}" id="price" name="price" minlength="1" maxlength="8" required>
                    </div>
                    <div class="mb-3">
                        <label for="beds" class="form-label">Bedrooms:</label>
                        <input type="number" class="form-control" value="{{ listing.beds }}" id="beds" name="beds" minlength="1" maxlength="1" required>
                    </div>
                    <div class="mb-3">
                        <label for="sleeps" class="form-label">Sleeps:</label>
                        <input type="number" class="form-control" value="{{ listing.sleeps }}" id="sleeps" name="sleeps" minlength="1" maxlength="2" required>
                    </div>
                    <div class="mb-3">
                        <label for="length" class="form-label">Length (ft):</label>
                        <input type="number" class="form-control" value="{{ listing.length }}" id="length" name="length" minlength="2" maxlength="2" required>
                    </div>
                    <div class="mb-3">
                        <label for="width" class="form-label">Width (ft):</label>
                        <input type="number" class="form-control" value="{{ listing.width }}" id="width" name="width" minlength="2" maxlength="2" required>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" class="form-control" value="{{ listing.location }}" id="location" name="location" minlength="1" maxlength="50" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" aria-label="description" id="description" name="description" required>
                            {{- listing.description -}}
                        </textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image:</label>
                        <input type="file" class="form-control" value="{{ listing.image }}" id="image" name="image" accept="image/*" required>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="history.back()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>

{% endblock %}
