{% extends "base.html" %}
{% block content %}

    <section id="register-section">
        <div class="row d-flex mb-5">
            <div class="col-12 col-lg-6 d-flex flex-column my-auto">
                <h1 class="ms-5">Profile</h1>
                <h2>Welcome {{ username }}</h2>
                <a class="btn btn-primary rounded-0 mt-5 align-self-start ms-5" href="{{ url_for('add_listing') }}" role="button">Add Caravan Listing</a>
            </div>
            <div class="col-12 col-lg-6">
                <img src="{{ url_for('static', filename='images/register-image.webp') }}" class="img-fluid w-75 mx-auto d-block" alt="couple in a caravan">
            </div>
        </div>
    </section>

{% endblock %}