
{% extends "dashboard_sidebar.html" %}
{% block dashboard_section %}
    <div class="col-12 col-lg-9 ps-5 pe-5 mt-5">
        <div class="row mb-4">
            <div class="col-12 col-lg-6">
                <h4 class="">Profile</h4>
            </div>
            <div class="col-12 col-lg-6 text-end">
                <a class="btn btn-primary rounded-0" href="#" role="button">Edit
                    Profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Username:</td>
                            <td>{{ username.username }}</td>
                        </tr>
                        <tr>
                            <td>First Name:</td>
                            <td>{{ username.first_name }}</td>
                        </tr>
                        <tr>
                            <td>Last Name:</td>
                            <td>{{ username.last_name}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ username.email }}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{ username.phone }}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock %}

