{% extends "base_templates/base.html" %}
{% block content %}

    <!-- ADD CARAVAN MODEL -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 mx-auto text-center">
                    <h1 class="mb-5">Add Caravan Model</h1>
                    <!-- FORM -->
                    <form method="POST" class="mb-5">
                        <div class="mb-3">
                            <label for="caravan_model" class="form-label">New Caravan Model:</label>
                            <input type="text" class="form-control" id="caravan_model" name="caravan_model" aria-describedby="caravan_model" required>
                        </div>
                        <button type="button" class="btn btn-primary rounded-0" onclick="history.back()">Cancel</button>
                        <button type="submit" class="btn btn-primary rounded-0">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}