{% extends "base_templates/base.html" %}
{% block content %}

    <!-- ADD CARAVAN LOCATION -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 mx-auto text-center">
                    <h1 class="mb-5">Add Location</h1>
                    <!-- FORM -->
                    <form method="POST" class="mb-5">
                        <div class="mb-3">
                            <label for="location" class="form-label">New Location:</label>
                            <input type="text" class="form-control" id="location" name="location" aria-describedby="location" required>
                        </div>
                        <button type="button" class="btn btn-primary rounded-0" onclick="history.back()">Cancel</button>
                        <button type="submit" class="btn btn-primary rounded-0">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}