{% extends "base_templates/base.html" %}
{% block content %}
    <!-- EDIT CARAVAN MAKE -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Edit Caravan Make</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <!-- FORM -->
                    <form method="POST" action="{{ url_for('edit_make', make_id=make._id) }}" class="mb-5">
                        <div class="mb-3">
                            <label for="caravan_make" class="form-label">Caravan Make</label>
                            <input type="text" class="form-control" value="{{ make.caravan_make | capitalize }}" id="caravan_make"
                                name="caravan_make" aria-describedby="caravan_make" required>
                        </div>
                        <button type="button" class="btn btn-primary rounded-0" onclick="history.back()">Cancel</button>
                        <button type="submit" class="btn btn-primary rounded-0">Submit</button>
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </section>
{% endblock %}
