{% extends "base_templates/base.html" %}
{% block content %}

<!-- about Caravansy section -->
<section id="about-section">
    <div class="row d-flex pb-5 pt-5 bg-color-4 ps-5 pe-5">
        <div class="col-12 d-flex flex-column">
            <h1 class="text-capitalize pt-5 title-1 mb-5">About <span class="underline">Us</span></h1>
            <p>
                <strong class="txt-color-1 me-2">Caravansy</strong> is a small, friendly company with small origins. 
                We started in a small town in the North Coast of Wales and have grown
                to serve customers needs around the UK and Europe.
            </p>
            <p>
                We delight at meeting our customers needs and know that a caravan needs
                to be as special as your own home.
            </p>
            <p>
                At Caravansy, we look for new, innovative ways to sell your caravan. 
                Let's us do the work for you, matching buyers with sellers in unique, 
                convienient ways.
            </p>
            <p>
                Learn more about the Directors below
            </p>
        </div>
    </div>
</section>
<!-- director profiles section -->
<section id="director-one-section">
    <div class="row mt-5 pt-5 ps-md-5 pe-md-5 ms-5 me-5">
        <div class="col-12 col-lg-6 ps-md-5">
            <h3 class="mb-4 pb-4">Jennifer Docker</h3>
            <p>
                Jennifer is a Colwyn Bay based static caravan enthusiast
                with extensive background in the industry. She's worked with hundreds of
                customers from all parts of the of the UK and Europe. She holds an BA(Hons) 
                in Business Studies from The Nottingham Trent University.
            </p>
        </div>
        <div class="col-12 col-lg-6 pe-5 mt-5">
            <img src="{{ url_for('static', filename='images/jennifer-docker-about.webp') }}" class="img-fluid" alt="Jennifer Docker - Director">
        </div>
    </div>
</section>
<section id="director-two-section">
    <div class="row mt-5 mb-5 pt-5 ps-md-5 pe-md-5 ms-5 me-5">
        <div class="col-12 col-lg-6 pe-5 mb-5">
            <img src="{{ url_for('static', filename='images/sita-kunda-about.webp') }}" class="img-fluid" alt="Sita Kunda - Director">
        </div>
        <div class="col-12 col-lg-6 ps-5">
            <h3 class="mb-4 pb-4">Sita Kunda</h3>
            <p>
                Sita has been working in the caravan industry for over 8 years,
                honing her vision for a better way for consumers to buy and sell
                static caravans. After working with one of the best caravan manufacturers
                in the UK, Sita knows customers needs inside out.
            </p>
        </div>
    </div>
</section>

{% endblock %}