{% extends "base_templates/base.html" %}
{% block content %}

<!-- list a caravan section -->
<section id="list-a-caravan-section">
    <div class="row d-flex mb-5">
        <div class="col-12 col-lg-4 d-flex flex-column my-auto">
            <h1 class="text-capitalize ms-5">A better way to sell your <span class="underline"><br>static caravan</span></h1>
            <!-- chaanges button and route call depending on whether a user is logged in or not -->
            {% if session.user %}
                <a class="btn btn-primary rounded-0 mt-5 align-self-start ms-5" href="{{ url_for('add_listing') }}" role="button">List Caravan</a>
            {% else %}
                <a class="btn btn-primary rounded-0 mt-5 align-self-start ms-5 mb-5" href="{{ url_for('register') }}" role="button">List Caravan</a>
            {% endif %}
        </div>
        <div class="col-12 col-lg-8">
            <img src="{{ url_for('static', filename='images/hero-image.webp') }}" class="img-fluid w-75 mx-auto d-block" alt="couple in a caravan">
        </div>
    </div>
</section>
<!-- seperator section -->
<section id="seperator">
    <div class="row bg-color-2 txt-color-2 pt-5 pb-5">
        <div class="col-12 col-md-4">
            <h2 class="text-center">Transparent</h2>
        </div>
        <div class="col-12 col-md-4">
            <h2 class="text-center">Empowering</h2>
        </div>
        <div class="col-12 col-md-4">
            <h2 class="text-center">Digital</h2>
        </div>
    </div>
</section>
<!-- buy a caravan section -->
<section id="buy-a-caravan-section">
    <div class="row d-flex mt-5 mb-5">
        <div class="col-12 col-lg-8">
            <img src="{{ url_for('static', filename='images/static-caravan-one.webp') }}" class="img-fluid w-75 mx-auto d-block mb-5" alt="couple in a caravan">
        </div>
        <div class="col-12 col-lg-4 d-flex flex-column my-auto">
            <h1 class="text-capitalize ms-5">Find your perfect <span class="underline"><br>static caravan</span></h1>
                <a class="btn btn-primary rounded-0 mt-5 align-self-start ms-5" href="{{ url_for('get_listings') }}" role="button">Browse Caravans</a>
        </div>
    </div>
</section>

{% endblock %}