{% extends "base_templates/base.html" %}
{% block content %}

    <section id="register-section">
        <div class="row d-flex mb-5">
            <div class="col-12 col-lg-6 d-flex flex-column my-auto">
                <h1 class="ms-5">Register</h1>
                <p class="ms-5">Register to add your static caravan for sale</p>
                <p class="ms-5">Already have an account? <a href="{{ url_for('login') }}" class="underline">Sign In</a></p>
                <form method="POST" action="{{ url_for('register') }}">
                    <!-- first name -->
                    <div class="ms-5 mb-3">
                        <label for="first_name" class="form-label">First Name:</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" 
                          minlength="2" maxlength="15" pattern="^[a-zA-Z]{2,15}$" aria-describedby="first name" required>
                    </div>
                    <!-- last name -->
                    <div class="ms-5 mb-3">
                        <label for="last_name" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" 
                          minlength="2" maxlength="15" pattern="^[a-zA-Z]{2,15}$" aria-describedby="last name" required>
                    </div>
                    <!-- email -->
                    <div class="ms-5 mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" name="email" id="email" 
                          minlength="5" maxlength="30" aria-describedby="email" required>
                    </div>
                    <!-- phone -->
                    <div class="ms-5 mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="number" class="form-control" name="phone" id="phone" 
                          minlength="11" maxlength="11" pattern="^[0-9]{5,15}$" aria-describedby="phone" required>
                    </div>
                    <!-- username -->
                    <div class="ms-5 mb-3">
                      <label for="username" class="form-label">Username</label>
                      <input type="text" class="form-control" name="username" id="username" 
                        minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" aria-describedby="username" required>
                    </div>
                    <!-- password -->
                    <div class="ms-5 mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" name="password" required>
                    </div>
                    <!-- register -->
                    <button type="submit" class="ms-5 btn btn-primary rounded-0">Register</button>
                  </form>
            </div>
            <div class="col-12 col-lg-6">
                <img src="{{ url_for('static', filename='images/register-image.webp') }}" class="img-fluid w-75 mx-auto d-block" alt="couple in a caravan">
            </div>
        </div>
    </section>

{% endblock %}