{% extends "base_templates/base.html" %}
{% block content %}

<!-- buy section -->
<section id="buy-section">
    <div class="row d-flex pb-5 pt-5 bg-color-4">
        <div class="col-12 d-flex flex-column ms-3">
            <h1 class="text-capitalize pt-5 title-1">Sell your static caravan <span class="underline">your way</span></h1>
            <p class="pb-3 mt-3">At Caravansy, we look for new, innovative ways to sell your caravan. Let's us do the work for you, matching buyers with sellers in unique, convienient ways.</p>
                <!-- displays different button and directs to different route depending if a user is logged in or not -->
                {% if session.user %}
                    <a class="btn btn-primary rounded-0 mt-3 mb-5 align-self-start" href="{{ url_for('add_listing') }}" role="button">List Caravan</a>
                {% else %}
                    <a class="btn btn-primary rounded-0 mt-3 mb-5 align-self-start" href="{{ url_for('register') }}" role="button">List Caravan</a>
                {% endif %}
        </div>
    </div>
    <div class="row d-flex mb-5 negative-margin">
        <div class="col-12">
            <img src="{{ url_for('static', filename='images/caravan-park-one.webp') }}" class="img-fluid w-75 mx-auto d-block" alt="couple in a caravan">
        </div>
    </div>
</section>
<!-- how it works section -->
<section id="how-it-works-section">
    <div class="row mt-5 mb-5 pt-5 ps-5 pe-5 ms-md-5 me-md-5">
        <div class="col-12 col-lg-6 ps-5">
            <h3 class="mb-4 pb-4">How it works:</h3>
            <ul class="mb-4 pb-4">
                <li class="ms-4 mb-3">Register with us to gain access to features</li>
                <li class="ms-4 mb-3">Add your caravan information onto a listing</li>
                <li class="ms-4 mb-3">Put your listing in front of 1000s of viewers</li>
                <li class="ms-4 mb-3">Buyers will contact you directly</li>
            </ul>
            <!-- displays different button and directs to different route depending if a user is logged in or not -->
            {% if session.user %}
                <a class="btn btn-primary rounded-0 mb-2 align-self-start" href="{{ url_for('add_listing') }}" role="button">List Caravan</a>
            {% else %}
                <a class="btn btn-primary rounded-0 mb-5 align-self-start" href="{{ url_for('register') }}" role="button">Register Now</a>
            {% endif %}
        </div>
        <div class="col-12 col-lg-6 pe-5">
            <img src="{{ url_for('static', filename='images/caravan-park-one.webp') }}" class="img-fluid" alt="couple in a caravan">
        </div>
    </div>
</section>

{% endblock %}